<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.qlu.edu.domanagement.mapper.DormitoryMapper">
	<!--查询所有宿舍楼-->
	<select id="findFloor" resultType="com.qlu.edu.domanagement.entity.Floor">
		SELECT
			*
		FROM
			floor
		ORDER BY
			fid
	</select>

	<!--根据宿舍楼id查询所有宿舍-->
	<select id="findDormitoryByFid" resultType="com.qlu.edu.domanagement.entity.Dormitory">
		SELECT
			*
		FROM
			dormitory
		WHERE
			fid=#{fid}
		ORDER BY
			dname
	</select>

	<!--查找所有的宿舍id-->
	<select id="findAllDormitoryId" resultType="Integer">
		SELECT
			did
		FROM
			dormitory
	</select>

	<!--查询宿舍楼名是否存在-->
	<select id="findFloorName" resultType="String">
		SELECT
			fname
		FROM
			floor
		WHERE
			fname=#{fname}
	</select>

	<!--查询宿舍名是否存在-->
	<select id="findDormitoryName" resultType="String">
		SELECT
			dname
		FROM
			dormitory
		WHERE
			fid=#{fid} AND dname=#{dname}
	</select>

	<!--查询是否存在子节点-->
	<select id="findChildren" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			dormitory
		WHERE
			fid=(
			SELECT
				fid
			FROM
				floor
			WHERE
				fname=#{fname}
			)
	</select>

	<!--查询宿舍违纪信息-->
	<select id="findDormitoryDisciplinary" resultType="com.qlu.edu.domanagement.entity.Disciplinary">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			did=#{did}
		ORDER BY createTime DESC
	</select>

	<!--查询宿舍维修信息-->
	<select id="findDormitoryMaintain" resultType="com.qlu.edu.domanagement.entity.Maintain">
		SELECT
			*
		FROM
			maintain
		WHERE
			did=#{did}
	</select>

	<!--查找所有宿舍的违纪信息-->
	<select id="findAllDormitoryDisciplinary" resultType="com.qlu.edu.domanagement.entity.Disciplinary">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			did IS NOT NULL
	</select>

	<!--根据did查找宿舍-->
	<select id="findDormitoryByDid" resultType="com.qlu.edu.domanagement.entity.Dormitory">
		SELECT
			*
		FROM
			dormitory
		WHERE
			did=#{did}
	</select>

	<!--根据did查找宿舍楼-->
	<select id="findFloorByFid" resultType="com.qlu.edu.domanagement.entity.Floor">
		SELECT
			*
		FROM
			floor
		WHERE
			fid=#{fid}
	</select>

	<!--查询所有的维修记录-->
	<select id="findAllMaintain" resultType="java.util.Map">
		SELECT
			*
		FROM
			maintain
		ORDER BY createTime DESC
	</select>

    <!--查找所有的通知-->
    <select id="findAllNotice" resultType="com.qlu.edu.domanagement.entity.Notice">
        SELECT
            *
        FROM
            notice
    </select>

	<!--根据宿舍楼名查找fid-->
	<select id="findFidByFname" resultType="java.lang.Integer">
		SELECT
			fid
		FROM
			floor
		WHERE
			fname = #{fname}
	</select>

	<!--根据宿舍楼id和宿舍名查找did-->
	<select id="findDidByFidAndDname" resultType="java.lang.Integer">
		SELECT
			did
		FROM
			dormitory
		WHERE
			fid=#{fid} AND dname=#{dname}
	</select>


	<!--增加维修记录-->
	<insert id="addMaintainRecord">
		INSERT INTO
			maintain
		(
			did,content,createUser,createTime
		)VALUES(
			#{did},#{content},#{createUser},#{createTime}
		)
	</insert>

	<!--添加已发布内容-->
	<insert id="addPublishNotice">
		INSERT INTO
			notice
		(
			title,content,publishUser,createUser,createTime
		)VALUES (
			#{title},#{content},#{publishUser},#{createUser},#{createTime}
		)
	</insert>

	<!--插入宿舍楼-->
	<insert id="insertFloor">
		INSERT INTO
			floor (fname)
		VALUES (#{fname})
	</insert>

	<!--插入宿舍-->
	<insert id="insertDormitory">
		INSERT INTO
			dormitory (fid,dname)
		VALUES
			(#{fid},#{dname})
	</insert>

	<!--修改已发布的内容-->
	<insert id="updatePublishNotice">
		INSERT INTO
			notice
		VALUES (
			#{nid},#{title},#{content},#{publishUser},#{createUser},#{createTime},#{modifyUser},#{modifyTime}
		)
	</insert>

	<!--删除已发布内容-->
	<delete id="deletePublishNotice">
		DELETE FROM
			notice
		WHERE
			nid=#{nid}
	</delete>

	<!--删除宿舍楼-->
	<delete id="deleteFloor">
		DELETE FROM
			floor
		WHERE
			fname=#{fname}
	</delete>

	<!--删除维修记录-->
	<delete id="deleteMaintainRecord">
		DELETE FROM
			maintain
		WHERE
			mid=#{mid}
	</delete>

	<!--删除宿舍-->
	<delete id="deleteDormitory">
		DELETE FROM
			dormitory
		WHERE
			fid=#{fid} AND dname=#{dname}
	</delete>

	<!--更新维修记录表-->
	<update id="updateMaintainRecord">
		UPDATE maintain SET
			remark=#{remark},maintainUser=#{maintainUser},maintainTime=#{maintainTime}
		WHERE
			mid=#{mid}
	</update>
</mapper>



