<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.qlu.edu.domanagement.mapper.DormitoryMapper">
	<!--查询所有宿舍楼-->
	<select id="findFloor" resultType="com.qlu.edu.domanagement.entity.Floor">
		SELECT
			*
		FROM
			floor
		ORDER BY
			fid
	</select>

	<!--根据宿舍楼id查询所有宿舍-->
	<select id="findDormitoryByFid" resultType="com.qlu.edu.domanagement.entity.Dormitory">
		SELECT
			*
		FROM
			dormitory
		WHERE
			fid=#{fid}
		ORDER BY
			dname
	</select>

	<!--查找所有的宿舍id-->
	<select id="findAllDormitoryId" resultType="Integer">
		SELECT
			did
		FROM
			dormitory
	</select>

	<!--查询宿舍楼名是否存在-->
	<select id="findFloorName" resultType="String">
		SELECT
			fname
		FROM
			floor
		WHERE
			fname=#{fname}
	</select>

	<!--查询宿舍名是否存在-->
	<select id="findDormitoryName" resultType="String">
		SELECT
			dname
		FROM
			dormitory
		WHERE
			fid=#{fid} AND dname=#{dname}
	</select>

	<!--查询是否存在子节点-->
	<select id="findChildren" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			dormitory
		WHERE
			fid=(
			SELECT
				fid
			FROM
				floor
			WHERE
				fname=#{fname}
			)
	</select>

	<!--查询宿舍违纪信息-->
	<select id="findDormitoryDisciplinary" resultType="com.qlu.edu.domanagement.entity.Disciplinary">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			did=#{did}
	</select>

	<!--查询宿舍维修信息-->
	<select id="findDormitoryMaintain" resultType="com.qlu.edu.domanagement.entity.Maintain">
		SELECT
			*
		FROM
			maintain
		WHERE
			did=#{did}
	</select>

	<!--查找所有宿舍的违纪信息-->
	<select id="findAllDormitoryDisciplinary" resultType="com.qlu.edu.domanagement.entity.Disciplinary">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			did IS NOT NULL
	</select>

	<!--根据did查找宿舍-->
	<select id="findDormitoryByDid" resultType="com.qlu.edu.domanagement.entity.Dormitory">
		SELECT
			*
		FROM
			dormitory
		WHERE
			did=#{did}
	</select>

	<!--根据did查找宿舍楼-->
	<select id="findFloorByFid" resultType="com.qlu.edu.domanagement.entity.Floor">
		SELECT
			*
		FROM
			floor
		WHERE
			fid=#{fid}
	</select>

	<!--插入宿舍楼-->
	<insert id="insertFloor">
		INSERT INTO
			floor (fname)
		VALUES (#{fname})
	</insert>

	<!--插入宿舍-->
	<insert id="insertDormitory">
		INSERT INTO
			dormitory (fid,dname)
		VALUES
			(#{fid},#{dname})
	</insert>

	<!--删除宿舍楼-->
	<delete id="deleteFloor">
		DELETE FROM
			floor
		WHERE
			fname=#{fname}
	</delete>

	<!--删除宿舍-->
	<delete id="deleteDormitory">
		DELETE FROM
			dormitory
		WHERE
			fid=#{fid} AND dname=#{dname}
	</delete>
</mapper>



