<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.qlu.edu.domanagement.mapper.StudentMapper">
	<select id="findStudentsByDid" resultType="com.qlu.edu.domanagement.entity.Student">
		SELECT
			*
		FROM
			student
		WHERE
			did=#{did}
	</select>

	<select id="findRandomDutyByDid" resultType="com.qlu.edu.domanagement.entity.RandomDuty">
		SELECT
			*
		FROM
			duty
		WHERE
			did=#{did}
	</select>

	<select id="findPersonalDisciplinary" resultType="com.qlu.edu.domanagement.entity.Disciplinary">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			sid=#{sid}
	</select>

	<select id="findSidBySid" resultType="java.lang.String">
		SELECT
			sid
		FROM
			student
		WHERE
			sid=#{sid}
	</select>

	<select id="findStudentAllDisciplinary" resultType="java.util.Map">
		SELECT
			*
		FROM
			perordordisciplinary
		WHERE
			sanitation = #{sanitation}
		ORDER BY createTime DESC
	</select>

	<insert id="insertRandomDuty">
		INSERT INTO
			duty
		VALUES (
			#{did},#{monday},#{tuesday},
			#{wednesday},#{thursday},#{friday},
			#{saturday},#{sunday}
		)
	</insert>

	<select id="findStudentBySid" resultType="com.qlu.edu.domanagement.entity.Student">
		SELECT
			*
		FROM
			student
		WHERE
			sid=#{sid}
	</select>

	<select id="findRandomDuty" resultType="java.util.Map">
		SELECT
			*
		FROM
			duty
		WHERE
			did=#{did}
	</select>

	<select id="findSidBySnameAndDid" resultType="java.lang.String">
		SELECT
			sid
		FROM
			student
		WHERE
			did=#{did} AND sname=#{sname}
	</select>

	<!--查看所有留言-->
	<select id="findAllMessage" resultType="java.util.Map">
		SELECT
			*
		FROM
			messageboard
		ORDER BY
			createTime DESC
	</select>

	<insert id="addStudent">
		INSERT INTO
			student
		VALUE (
			#{did},#{sid},#{sname},#{ssex},#{sphone},#{sprofessional},#{sclass}
		)
	</insert>

	<insert id="addStudentDisciplinary">
		INSERT INTO
			perordordisciplinary
		(
			did,sid,content,createUser,createTime,image,sanitation
		)VALUES (
			#{did},#{sid},#{content},#{createUser},#{createTime},#{image},#{sanitation}
		)
	</insert>

	<!--增加留言信息-->
	<insert id="addMessage">
		INSERT INTO
			messageboard
		(
			opinion,createTime
		)VALUES (
			#{opinion},#{createTime}
		)
	</insert>

	<delete id="clearRandomDuty">
		TRUNCATE TABLE duty
	</delete>

	<delete id="deleteStudent">
		DELETE FROM
			student
		WHERE
			sid=#{sid}
	</delete>

	<delete id="deleteDisciplinaryRecord">
		DELETE FROM
			perordordisciplinary
		WHERE
			pid=#{pid}
	</delete>

	<delete id="deleteStudentDisciplinary">
		DELETE FROM
			perordordisciplinary
		WHERE
			sid=#{sid}
	</delete>
</mapper>



