<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.qlu.edu.domanagement.mapper.UserMapper">
	<!--管理员用户登陆校验账号密码-->
	<select id="login" resultType="com.qlu.edu.domanagement.entity.User">
		SELECT
			*
		FROM
			user
		WHERE
			username=#{username} AND password=#{password}
	</select>

	<!--判断是否su用户-->
	<select id="isSu" resultType="Integer">
		SELECT
			su
		FROM
			user
		WHERE
			uid=#{uid}
	</select>

	<!--管理员修改密码-->
	<update id="changePassword">
		UPDATE
			user
		SET
			password=#{newPassword}
		WHERE
			uid=#{uid} AND password=#{oldPassword}
	</update>
	
</mapper>



